@model MVC_CoreClient.Models.CategorySearchModel
@{
    ViewData["Title"] = "Category";
    var categoriesList = (List<SelectListItem>)ViewBag.Categories;
}

<h1>Search Category</h1>


<br></br>
<h4>select Category to Search for respective Product</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Category">
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select class="form-control" asp-for="CategoryId"
                 asp-items="@categoriesList"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


