@{
    ViewData["Title"] = "Client";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<br>

<h2>List of the Client</h2>
<a class='btn btn-primaty btn-sm' href="/Clients/Create">New Client</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
             <th>Name</th>
              <th>Email</th>
               <th>Contact</th>
                <th>Address</th>
                <th>CreateOn</th>
               
        </tr>
    </thead>
</table>

